<header class="header">
    <div class="header__wrapper">
        <div class="container">
            <div class="header__inner"><a
                    class="logo"
                    href="index9ba3.html?page=home"
                ><img src="assets/images/logo.png" /></a>
                <div class="header__elements">
                    <section class="navbar js-navbar">
                        <div class="navbar__backdrop js-navbar-toggle"></div>
                        <div class="navbar__wrapper">
                            <div class="navbar__header"><a
                                    class="logo"
                                    href="index.html"
                                ><img src="images/logo.html" /></a>
                                <button
                                    class="navbar-toggle js-navbar-toggle ml-auto"><span></span><span></span><span></span></button>
                            </div>
                        </div>
                    </section>
                    <button
                        class="navbar-toggle d-xl-none js-navbar-toggle ml-10"><span></span><span></span><span></span></button>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="section pb-10">
    <div class="container">
        <h2 class="section__title text-dark">Danh sách Scan</h2>
        <div
            #parentElement
            class="accordion custom-accordion-style-1"
            id="accordion"
            style="width:100%"
            *ngFor="let i of historyData"
        >
            <div class="card card-default">
                <div
                    class="card-header"
                    (click)="getDetailScan(i)"
                >
                    <h5 class="card-title m-0">
                        <a
                            class="accordion-toggle text-color-dark collapsed"
                            data-toggle="collapse"
                            data-parent="#accordion"
                            [href]="i.href"
                            aria-expanded="false"
                        >{{i.ScanId}} Số lượng:{{i.ItemNumber}}</a>
                    </h5>
                </div>
                <div
                    [id]="i.id"
                    class="collapse"
                >
                    <table class="table table-borderless table-striped doc-table">
                        <tbody>
                            <tr
                                data-toggle="modal"
                                data-target="#exampleModalCenter"
                                *ngFor="let item of i.dataSub"
                                (click)="onLoadListScan(item)"
                            >
                                <td class="text-500">
                                    ScanId: {{item?.ScanId}}
                                </td>
                                <td class="text-500">
                                    ItemId: {{item?.ItemId}}
                                </td>
                                <td class="text-500">
                                    ScanItemId: {{item?.ScanItemId}}
                                </td>
                                <td class="text-nowrap">CreatedOn: {{item.CreatedOn | date:'dd-MM-yyyy HH:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="footer__wrapper">
        <div class="container">
            <div class="footer__inner"><a
                    class="footer__logo"
                    href="index9ba3.html?page=home"
                ><img src="assets/images/logo.png" /></a>
                <div class="footer__text">TỔNG CÔNG TY CỔ PHẦN BIA - RƯỢU - NƯỚC GIẢI KHÁT HÀ NỘI</div>
                <div class="footer__copyright">Copyright 2020 © Habeco</div>
                <nav class="f-social"><a
                        class="f-social__item"
                        href="#!"
                    ><img src="assets/images/icon-facebook.png" /></a><a
                        class="f-social__item"
                        href="#!"
                    ><img src="assets/images/icon-youtube-play.png" /></a><a
                        class="f-social__item"
                        href="#!"
                    ><img src="assets/images/icon-zalo.png" /></a><a
                        class="f-social__item"
                        href="#!"
                    ><img src="assets/images/icon-instagram.png" /></a><a
                        class="f-social__item"
                        href="#!"
                    ><img src="assets/images/icon-blogger.png" /></a></nav>
            </div>
        </div>
    </div>
</footer>
<div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
>
    <div
        class="modal-dialog modal-dialog-centered"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <h5
                    class="modal-title"
                    id="exampleModalLongTitle"
                >Thông tin sản phẩm</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Serial: {{itemDetail?.Serial}}
                <br>
                ItemId: {{itemDetail?.ItemId}}
                <br>
                ExpiredOn: {{itemDetail?.ExpiredOn | date:'dd-MM-yyyy'}}
                <br>
                CreatedOn: {{itemDetail?.CreatedOn | date:'dd-MM-yyyy'}}
                <br>
                MediaURL: <img
                    *ngIf="itemDetail.MediaURL"
                    src="itemDetail.MediaURL"
                >
                <img
                    *ngIf="!itemDetail.MediaURL"
                    src="assets/photo/1617761839.svg"
                >
            </div>
        </div>
    </div>
</div>